@* <div class="header">
<a class="skip" href="#main">@T("Header.SkipNavigation.Text")</a>
@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderBefore })
<!-- Component: Basic Navbar -->
<!-- End Basic Navbar-->
<div class="header-upper">
<div class="header-selectors-wrapper">
@await Component.InvokeAsync(typeof(TaxTypeSelectorViewComponent))
@await Component.InvokeAsync(typeof(CurrencySelectorViewComponent))
@await Component.InvokeAsync(typeof(LanguageSelectorViewComponent))
@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderSelectors })
</div>
<div class="header-links-wrapper">
@await Component.InvokeAsync(typeof(HeaderLinksViewComponent))
@await Component.InvokeAsync(typeof(FlyoutShoppingCartViewComponent))
</div>
</div>
@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderMiddle })
<div class="header-lower">
<div class="header-logo">
@await Component.InvokeAsync(typeof(LogoViewComponent))
</div>
<div class="search-box store-search-box">
@await Component.InvokeAsync(typeof(SearchBoxViewComponent))
</div>
</div>
@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderAfter })
</div>
*@

<div class="drawer font-bebas ">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <div class="navbar fixed z-40 top-0 left-0 w-full px-6 py-6 text-white bg-transparent">
      <div class="flex-none lg:hidden">
        <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            class="inline-block h-6 w-6 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </label>
      </div>
      <div class="flex-1 mx-2 px-2 ">
        @await Component.InvokeAsync(typeof(LogoViewComponent))
      </div>
      <div class="block">
        <ul class="menu menu-horizontal text-sm md:text-lg">
          @await Component.InvokeAsync(typeof(HeaderLinksViewComponent))
        </ul>
      </div>
    </div>
  </div>
  @await Component.InvokeAsync(typeof(SidebarViewComponent))
</div>
